<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
		
	<servlet>
		<servlet-name>ReadMessage</servlet-name>
		<servlet-class>se.ltu.M7017E.lab3.ReadMessageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReadMessage</servlet-name>
		<url-pattern>/readmessage/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>GetParam</servlet-name>
		<servlet-class>se.ltu.M7017E.lab3.GetParamServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetParam</servlet-name>
		<url-pattern>/getparam/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>se.ltu.M7017E.lab3.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/LoginServlet/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SaveMessage</servlet-name>
		<servlet-class>se.ltu.M7017E.lab3.SaveMessageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SaveMessage</servlet-name>
		<url-pattern>/storemessage/*</url-pattern>
	</servlet-mapping>
	
</web-app>